@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

h5{
    font-size: 16px;
}

a{
    text-decoration: none;
}

body{
    padding: 32px;
}

.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container{
    display: flex;
    padding: 96px 0;
}

.text--blue{
    color: #2a2fb7;
}

/* Barra Navegación */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #243E63;
    transition: all 300ms ease;
}

.nav__logo:hover {
    color: #2a2fb7;
}

.nav__logo--wrapper{
    display: flex;
    align-items: center;
    align-content: center;
}

.nav__logo--img{
    width: 40px;
    height: 40px;
    margin-right: 8px;
}

.nav__link{
    font-size: 14px;
    margin: 0px 24px;
    font-weight: 600;
    color: #243E63;
}

.nav__link:nth-child(5) {
    margin: 0px 24px 0px 48px;
}

.nav__link--primary{
    margin: 0;
    background-color: #2a2fb7;
    color: white;
    padding: 12px 32px;
    border-radius: 24px;
}

/* Descripción landing page */

.header__description{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__description--title{
    font-size: 48px;
}

.header__description--para{
    font-size: 18px;
    margin: 32px 0;
    color: #243E63;
    line-height: 1.625;
}

.header__description--input{
    width: 100%;
    padding: 20px 192px 20px 32px;
    border-radius: 9999px;
    border: 1px solid lightgray;
    transition: border-color 300ms ease;
}

.header__description--input:hover{
    border-color: black;
}

.header__input--wrapper{
    position: relative;
    margin-right: 48px;
}

.header__description--btn{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    right: 0;
    margin: 8px 8px 8px 0;
    padding: 16px 32px;
    border-radius: 9999px;
    font-size: 16px;
    cursor: pointer;
    background-color: #2a2fb7;
    color: white;
    font-weight: bold;
    border: #2a2fb7;
    transition: background-color 300ms ease;
}

.header__description--btn:hover{
    background-color: #585baf;
}

.header__description--figure{
    width: 60%;
    max-height: 520px;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.header__description--img{
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    transform: translateX(50px);
}

.header__description--logos{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}

.header__description--logo-p{
    font-weight: 600;
    letter-spacing: 1px;
    color: #A0AEc0;
}

.header__description--logo{
    padding-right: 128px;
    margin-top: 16px;
    opacity: 0.5;
}

/* Section SERVICES */

.services__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 90px;
}

.section__subtitle{
    font-weight: 600;
    letter-spacing: 1.5px;
    margin-bottom: 16px;
}

.section__title{
    font-size: 48px;
    color: #243E63;
    font-weight: 900;
    letter-spacing: 2px;
}

.services__description--para{
    margin: 16px 0 40px 0;
    width: 50%;
    font-size: 18px;
    text-align: center;
    color: #7c8ba1;
    line-height: 1.625;
}


.services{
    display: flex;
    flex-wrap: wrap;
}

.service{
    width: calc(100% / 3);
    display: flex;
    padding: 32px 16px;
}

.service__icon{
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 9999px;
}

.service__description{
    margin: 8px 0 0 16px;
}

.service__description--title{
    font-size: 24px;
}

.service__description--para{
    font-size: 16px;
    color: #7c8ba1;
    line-height: 2;
    margin-top: 16px;
    padding-right: 24px;
}

/* SECTION QUALITY-WORK */

.quality-work__container{
    display: flex;
    align-items: center;
}

.section__description--quality{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-right: 56px;
}

.quality-work__description--title{
    margin-right: 24px;
}

.section__img--wrapper{
    width: 50%;
    height: 80%;
    border: 1px solid  #c3d4ea;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.section__img{
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.section__description--para{
    text-align: left;
    font-size: 18px;
    color: #7c8ba1;
    line-height: 1.625;
    margin-top: 16px;
    padding-right: 24px;
}

.btn{
    margin: 0;
    background-color: #2a2fb7;
    color: white;
    padding: 12px 32px;
    border-radius: 24px;
}

.quality__btn{
    margin-top: 32px;
    max-width: 145px;
    text-align: center;
}

.quality__btn:hover {
    background-color: #585baf;
}

/* Section Steps */

.steps__container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.section__description--steps{
    width: 50%;
    padding: 32px 24px 32px 64px;
}

.steps__img--wrapper{
    width: 50%;
}

.steps__img{
    width: 100%;
}

.step{
    display: flex;
    margin: 32px 0;
}

.step__number{
    color: #CBD5E0;
    font-size: 36px;
}

.step__description{
    margin-left: 24px;
}

.step__description--h6{
    font-size: 20px;
    color: #243E63;
}

.step__description--para{
    font-size: 14px;
    margin-top: 12px;
    line-height: 2;
    max-width: 320px;
    color: #718096;
}

/* Section values */

.values__description{
    margin-top: 32px;
    font-weight: 500;
}

.principles{
    display: flex;
}

.principle{
    margin: 32px 32px 0 0;
}

.principle__title{
    display: flex;
    align-items: center;
}

.principle__img--wrapper{
    background-color: rgba(154,230,180,0.5);
    padding: 8px;
    border-radius: 9999px;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.75;
    font-size: 20px;
}

.principle__img--wrapper-2{
    background-color: rgba(208, 121, 121, 0.5);
}

.principle__title--p{
    font-size: 20px;
    margin-left: 12px;
    font-weight: 700;
}

.principle__description{
    color: #718096;
    font-size: 16px;
    line-height: 1.625;
    margin-top: 16px;
}

.values__img--wrapper{
    border: none;
}

.values__btn{
    margin-top: 48px;
    max-width: 145px;
    text-align: center;
}

.values__btn:hover {
    background-color: #585baf;
}

/* Section PRICING */

.pricing__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.plans{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.plan--container{
    display: flex;
    justify-content: center;
    width: calc(100% / 3);
}

.plan{
    width: 90%;
    text-align: center;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    border:1px solid rgba(211, 211, 211, 0.5);
    position: relative;
}

.plan--middle{
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    color: white;
}

.plan__title span,
.plan__features span{
    display: block;
}

.plan__title {
    padding: 32px 0;
}

.plan__title--name{
    font-size: 20px;
    color: #1A202C;
    font-weight: 700;
}

.plan__title--price{
    font-size: 48px;
    margin: 12px 0;
    font-weight: 700;
}

.plan__title--period{
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #A0AEC0;
}

.plan__features{
    padding: 32px;
    border-top: 1px solid rgba(211, 211, 211, 0.5);
    border-bottom: 1px solid rgba(211, 211, 211, 0.5);
}

.plan--middle .plan__features{
    border-top: 2px solid rgba(102,126,234);
    border-bottom: 2px solid rgba(102,126,234);
}

.plan__features--description-primary{
    color: #1A202C;
    font-size: 20px;
    font-weight: 700;
}

.plan__features--description{
    font-size: 16px;
    color: #718096;
    margin-top: 20px;
}

.plan__btn--wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

.plan__btn{
    padding: 16px 32px;
    border-radius: 9999px;
    border: 0px white solid;
    width: 100%;
    max-width: 192px;
    letter-spacing: 1px;
    font-weight: 700;
    color: white;
    transition: all 300ms ease;
}

.plan--middle .plan__title--name{
    color: #F7FAF0;
}

.plan--middle .plan__title--period{
    color: #EDF2F7;
}

.plan--middle .plan__features--description-primary{
    color: white;
}

.plan--middle .plan__features--description{
    color: white;
}

.plan--middle .plan__btn{
    color: #2a2fb7;
}

.plan__btn--green{
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan__btn--red{
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%); 
}

.plan__border-top--green{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    content: "";
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    height: 5px;
    width: 100%;
}

.plan__border-top--red{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    content: "";
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    height: 5px;
    width: 100%;
}

.plan__btn:hover{
    transform: translateX(2px) translateY(-2px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.155);
    cursor: pointer;
}